<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_logged_in? %>
      <%= current_admin_user.username %>としてログインしています。
      <%= link_to t("logout"), admin_logout_path, method: :delete, data: { confirm: t("logout_confirmation") } %>
    <% else %>
      <%= link_to t("admin_login"), admin_login_path %>
    <% end %>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
