<h1><%= @article.title %></h1>

<%= @article.created_at.strftime(t('date_format')) %>

<% if admin_logged_in? %>
  | <%= link_to t('edit'), edit_article_path(@article) %>
  | <%= link_to t('delete'), @article, method: :delete, data: { confirm: t('delete_confirmation') } %>
<% end %>

<p><%= @article.content %></p>

<%= link_to t('back'), articles_path %>
